.App {
  text-align: center;
}

.display{
  display: grid;
  grid-template-columns: auto auto auto auto;
  position: relative;
  left: 150px;
  /* display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  height: 100px; */
 
}



.data1{

 text-align: center;
 padding:15px;
 justify-content: center;
 


}
.center{
  text-align: center;
}
.center1{
  text-align: center;
  justify-content: center;
  color: yellow;
}



.shop{
  text-align: center;
  position: relative;
  top: 30px;
  font-size: 30px;
  
}

.shop1{
  text-align: center;
  position: relative;
 top: 30px;
 font-size: 60px;
 outline: none;
 border: none;
}

.shopcolor{
  height: 200px;
  width: screen;
  background-color: rgba(31, 30, 30, 0.897);


}


.navbor{
  display: grid;
  grid-template-columns: 10% 5% 5% 5% 10%;
  height: 40px;
  width: screen;
  position: relative;
  left: 170px;
}

.cardcount{
  text-align: right;
  position: relative;
  bottom: 60px;
  right: 200px;
  
  
}

.option{
  position: relative;
  bottom: 5px;
  outline: none;
  border: none;
}